.background-gif-container {
        position: relative;
        width: 100%;
        height: 300px; /* Adjust the height as needed */
        overflow: hidden;
        pointer-events: none; /* Disable pointer events */
      }
      
      .giphy-embed {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
      }
      
      .container-fluid {
        padding-top: 10px; /* Adjust this value based on the desired spacing */
      }
      
      .min-vh-100 {
        min-height: calc(100vh - 320px); /* Adjust based on the GIF container's height and additional padding */
      }
      
      .codemirror {
        min-height: calc(100vh - 20px);
        font-size: 20px;
        line-height: 1.6;
        padding-top: 20px;
      }
      